@keyframes heroTypeCode {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes shiny {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes focusFadeOut {
  from {
    outline-color: $buddy-blue;
  }

  to {
    outline-color: #fff;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    opacity: 1;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    opacity: 1;
  }
}

@keyframes neonHighlight {
  0% {
    text-shadow:  0 0 0;
  }
  50% {
    text-shadow:  0 0 0;
  }
  75% {
    text-shadow:  0 0 10px $neon-pink-opacity-50, 
                  0 0 20px $neon-pink-opacity-50, 
                  0 0 30px $neon-pink-opacity-50, 
                  0 0 40px $neon-pink-opacity-50, 
                  0 0 70px $neon-pink-opacity-50, 
                  0 0 80px $neon-pink-opacity-50, 
                  0 0 100px $neon-pink-opacity-50, 
                  0 0 150px $neon-pink-opacity-50;
  }
  100% {
    text-shadow:  0 0 0;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}