@import '../modules/vars';

.pln {
    color: $tangerine-dream;
}

.str {
    color: #fff;
}

.kwd {
    color: $tangerine-dream;
}

.com {
    color: $buddy-blue;
}

.typ {
    color: #fff;
}

.lit {
    color: #fff;
}

.clo,
.opn,
.pun {
    color: $code;
}

.tag {
    color: #fff;
}

.atn {
    color: $tangerine-dream;
}

.atv {
    color: $neon-pink;
}

.dec,.var {
    color: $neon-pink;
}

.fun {
    color: $neon-pink;
}

.javascript-title {
    color: $tangerine-dream;
}