.header {
  padding-bottom: 2rem;
  overflow: auto;

  @media #{$mobile} {
    position: relative;
    padding: 2rem 2rem 0;
  }

  &__logo {
    float: left;
    position: relative;
    left: -6.8rem;

    @media #{$mobile} {
      float: none;
      width: 100%;
      text-align: center;
      left: 0;
      padding: 0 15%;
    }
  }

  &__cta {
    position: relative;
    float: right;
    top: 9rem;

    @media #{$mobile} {
      position: fixed;
      bottom: 0;
      left: 0;
      top: auto;
      display: block;
      width: 100%;
      padding: 2rem;
      z-index: 10;
      float: none;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__links {

    @media #{$mobile} {
      margin-top: 4rem;
    }
  }

  &__individual-link {

    @media #{$mobile} {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid rgba(252, 252, 252, 0.2);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.lottie-logo {
  width: 35rem;
  max-width: 35rem;

  @media #{$mobile} {
    width: 100%;
    margin: auto;
  }
}