@import "../modules/vars";

.loader {
  &--object {
    width: 20rem;
    height: 20rem;
    border-radius: 99999rem;
  }

  &--light-grey {
    background-color: $light-grey;
  }

  &--spin {
    animation-name: spinning;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }

  &--canvas {
    padding: 5rem;
  }
}

@media #{$mobile} {
  .loader {
    &--object {
        margin: 0 auto 4rem;
    }
  }
}
