.main {
}

.container {
  width: $desktopWidth;
  max-width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin: auto;

  @media #{$mobile} {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.panel {
  position: relative;
  min-height: 40rem;
  background-color: #fff;

  @media #{$mobile} {
    min-height: 10rem;
  }

  p {
    color: #fff;
  }

  a {
    color: $klein-blue;
  }

  &--tsh {
    @include horizontal-gradient($pastel-pink, $coral);
  }

  &--two {
    @include horizontal-gradient($neon-pink, $tangerine-dream);
  }

  &--three {
    @include horizontal-gradient($deep-azure, $deadly-nightshade);
  }

  &--four {
    @include horizontal-gradient(#c11675, #490a33);
  }

  &--alternate {
    .panel-content__left {
      order: 2;
    }

    .panel-content__right {
      order: 1;
      justify-content: flex-start;

      img {
        right: auto;
        left: 0;
      }
    }
  }

  &--small {
    min-height: 10rem;
    text-align: center;

    header {
      width: 100%;

      a {
        color: $deadly-nightshade;
      }
    }

    .panel-content {
      padding: 2rem;
    }
  }

  &--past-news {
    background-color: $deep-klein;
    text-align: left;

    .panel-content {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    header {
      > p {
        margin-bottom: 1rem;
      }

      a {
        color: #fff;
      }
    }
  }

  &--content-led {
    min-height: 10rem;
  }

  &--white-bg {
    p {
      color: #000;
    }

    .panel-content__title {
      color: #000;
    }
  }

  &--grey-bg {
    background-color: gainsboro;
  }

  &--colour {
    a {
      color: #fff;
    }
  }

  &--blog {
    @include horizontal-gradient($klein-blue, $buddy-blue);
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.panel-header {
  margin: auto;

  &--center {
    text-align: center;
  }

  &--bottom {
    position: absolute;
    bottom: 0;
    width: $desktopWidth;
    max-width: 100%;
    left: 0;
    right: 0;

    @media #{$mobile} {
      position: static;
    }
  }

  h2 {
    margin: 0;
    padding: 4rem 2rem 2rem;

    &:focus {
      @extend %focus;
    }
  }
}

.panel-content {
  @extend %panel-content;

  &:focus {
    @extend %focus;
  }

  @media #{$mobile} {
    .panel & {
      padding-left: 5rem;
      padding-right: 5rem;

      &.panel-content--loader {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  &__left,
  &__right {
    width: 50%;
    float: left;

    @media #{$mobile} {
      width: 100%;
      float: none;

      img {
        display: none;
      }
    }

    &--show {
      @media #{$mobile} {
        img {
          width: 100%;
          display: block;
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__image {
    &--caption {
      padding: 2rem;
      background-color: $light-grey;

      p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    font-size: 3rem;
  }

  &__subheading {
    margin: 0;
  }

  &__code {
    font-size: 1.2rem;
  }

  &__description {
    margin: 6rem 0;
  }

  &__read-more {
    p {
      margin: 0;
    }
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Code editor

.code {
  max-width: 100%;

  a {
    color: $neon-pink;
    @extend %underline;

    &::after {
      @extend %underline-after;
    }

    &:hover {
      &::after {
        @extend %underline-hover;
      }
    }
  }
}
