.btn {
    position: relative;
    display: block;
    padding: 1.3rem 3rem 1.2rem;
    background-color: #000;
    color: #fff;
    z-index: 1;

    .hover {
  		position: absolute;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		z-index: -1;
  		overflow: hidden;

  		span {
  			position: relative;
  			display: block;
  			left: -15px;
  			height: 10px;
  			width: 0;
        background-color: #000;

  			content: '';
  		}

  		span:after {
  			position: absolute;
  			display: block;
  			right: -10px;
  			width: 10px;
  			height: 10px;

  			background: #fff;

  			content: '';
  		}

  		span:nth-child(odd) {
  			&:after { background: rgba(#000, 0.35); }
  		}

  		span:first-child {
  			left: -75px;

  			transition: all 0.3s steps(8);
  		}

  		span:nth-child(2) {
  			left: -45px;

  			transition: all 0.325s steps(8);
  		}

  		span:nth-child(3) {
  			left: -55px;

  			transition: all 0.35s steps(8);
  		}

  		span:nth-child(4) {
  			transition: all 0.4s steps(8);
  		}

  		span:nth-child(5) {
  			left: -25px;

  			transition: all 0.375s steps(8);
  		}
  	}

  	&:after {
  		position: absolute;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		height: 4px;
  		z-index: -2;
  		content: '';
  	}

  	&:hover {
      color: #fff;
    }

  	&:hover,
  	&:focus {
  		color: #fff;

  		.hover {
  			span:first-child {
  				width: calc(100% + 76px);

  				&:after {
            animation: whiteBlack 0.3s 0s 1;
          }
  			}

  			span:nth-child(2) {
  				width: calc(100% + 46px);
  				transition: all 0.375s steps(8);

  				&:after { animation: whiteBlack 0.3s 0.06s 1 reverse backwards; }
  			}

  			span:nth-child(3) {
  				width: calc(100% + 56px);
  				transition: all 0.35s steps(8);

  				&:after { animation: whiteBlack 0.3s 0.05s 1 forwards; }
  			}

  			span:nth-child(4) {
  				width: calc(100% + 16px);
  				transition: all 0.3s steps(8);

  				&:after { animation: whiteBlack 0.3s 0s 1 reverse backwards; }
  			}

  			span:nth-child(5) {
  				width: calc(100% + 26px);
  				transition: all 0.325s steps(8);

  				&:after { animation: whiteBlack 0.3s 0.07s 1 forwards; }
  			}
  		}
  	}

    &--klein {
        background-color: $klein-blue;
        border-bottom: 5px solid $klein-blue-accent;

        &:active {
            border-top: 0.5rem solid #0012d3;
            border-bottom: 0;
        }

        .hover {

        		span {
              background-color: $klein-blue-accent;
            }
        }
    }
}

@-webkit-keyframes whiteBlack {
	0%,
	24% { background:  #fff; }

	25%,
	49% { background: rgba(#000, 0.35); }

	50%,
	74% { background: #fff; }

	75%,
	100% { background: rgba(#000, 0.35); }
}
