#particles {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60rem;

    @media #{$mobile} {
        height: 40rem;
    }
}