* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 10px;
  background-color: $deadly-nightshade;

  &.senor-crabson {
    cursor: url('/assets/img/favicon/favicon-32x32.png'), auto;
  }
}
body {
  font: 400 16px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: $deadly-nightshade;
}
body,
html {
	min-height: 100vh;
}

a {
  text-decoration: none;
  font-weight: 800;
}

p a:hover,
.mask-filter:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shiny 2s infinite;
  transition: all 0.1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Brown-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Source Code Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $jean-grey; 
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $neon-pink; 
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}