html {
  &.bleak {
    background-color: $bleakBlack;
  }
}

.hero,
.panel--two,
.panel--three,
.panel--blog,
.panel--four {
  .bleak & {
    background: $bleakBlack;
  }

  &::after {
    .bleak & {
      border-left-color: $bleakBlack;
    }
  }
}

.footer {
    .bleak & {
        background-color: $bleakWhite;

        p,
        a,
        .panel-content__title {
            color: $bleakBlack;
        }

        &.panel.panel--colour a {
            color: $jean-grey;
        }

        .particles {
            display: none;
        }
    }
}

.hero--homepage {

    h1.neon-highlight {

        .bleak & {
            filter: grayscale(1);
        }
    }
}

img {

    .bleak & {
        filter: saturate(0) grayscale(1) brightness(1) invert(1);
    }
}

.btn {

    .bleak & {
        background-color: $bleakWhite;
        color: $bleakBlack;
        border-bottom: $bleakWhite;

        .hover span {
            background-color: $jean-grey;
        }

        &:active {
            border-top: .5rem solid $bleakWhite;
        }
    }
}

.hero__introduction {

    .bleak & {
        a {
            color: $jean-grey;
        }
    }
}

.hero-code {

    .bleak & {
        background-color: $bleakWhite;
    }

    &__screen {

        .bleak & {
            background-color: $bleakBlack;

            * {
                color: $bleakWhite;
            }

            a,
            .confetti-button,
            .code-string {
                color: $jean-grey;
            }
        }
    }
}

.panel {

    .bleak & {

        a {
            color: $bleakBlack;            
        }

        &.panel--colour {

            a {
                color: $bleakWhite;            
            }
        }
    }
}