.hero {
  position: relative;
  height: 40rem;

  @media #{$mobile} {
    height: auto;
    text-align: center;
  }

  &--homepage {
    background-color: $deadly-nightshade;
    z-index: 1;
    max-height: 40vh;
    min-height: 20rem;

    @media #{$mobile} {
      max-height: 100%;
      min-height: 100%;
      padding-bottom: 4rem;
    }

    h1 {
      text-shadow: 0 0 0;

      @media #{$tablet} {
        font-size: 3.4vw;
      }

      &.neon-highlight {
        animation-name: neonHighlight;
        animation-duration: 6s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: forwards;
      }
    }

    * {
      color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      z-index: -1;
      border-top: calc(#{$speech-point-height} / 2) solid transparent;
      border-bottom: calc(#{$speech-point-height} / 2) solid transparent;
      border-left: calc(#{$speech-point-height} / 2) solid $deadly-nightshade;
      transform: translateY(0);
      transition: transform 1s cubic-bezier(0, 0.9, 1, 1);
      transition-delay: 0.5s;

      @media #{$mobile} {
        display: none;
      }
    }
  }

  &--homepage-animation {
    &::after {
      transform: translateY(calc(#{$speech-point-height} / 2));
    }
  }

  &__introduction {
    h1 {
      @media #{$mobile} {
        font-size: 2rem;
      }
    }
    h2 {
      @media #{$mobile} {
        line-height: 1.2rem;
      }
    }
    p {
      max-width: 64rem;
    }
  }

  &--projects,
  &--about {
    height: 20rem;
    color: #fff;

    @media #{$mobile} {
      height: auto;
    }

    * {
      color: #fff;
    }
  }

  &__introduction {

    @media #{$mobile} {
      padding: 0 10% 3rem;
    }
  }
}

.hero-code {
  position: absolute;
  top: 20rem;
  right: 0;
  width: 60rem;
  max-width: 100%;
  height: 33rem;
  padding: 3.6rem 1.6rem 1.6rem;
  background-color: #e6e6e6;
  border-radius: 2rem;

  @media #{$mobile} {
    display: none;
  }

  &__screen {
    position: relative;
    height: 100%;
    background-color: $screen;
    padding: 2.2rem 2.6rem;
    border-radius: 0.3rem;
    transition: background-color ease 0.2s;

    &--glitch {
      mix-blend-mode: hard-light;
      overflow: hidden;
      
      &::after {
        content: '';
        position: absolute;
        height: 300%;
        width: 300%;
        top: -100%;
        left: -100%;
        @include horizontal-gradient($neon-pink, $tangerine-dream);
        opacity: 0.3;
        animation-name: spinning;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: forwards;
      }
    }

    p {
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      color: $code;
      line-height: 4.6rem;
      margin: 0;
    }

    &--animation {
      p {
        animation-name: heroTypeCode;
        animation-duration: 3s;
        animation-timing-function: steps(60, end);
        animation-delay: 1.6s;
        animation-fill-mode: forwards;

        &.delay {
          &--1 {
            animation-delay: 3.6s;
          }
          &--2 {
            animation-delay: 6.6s;
          }
          &--3 {
            animation-delay: 9.6s;
          }
          &--4 {
            animation-delay: 12.6s;
          }
        }
      }
    }

    .code-variable {
      color: $tangerine-dream;
    }

    .code-bracket {
      color: #fff;
    }

    .code-string {
      color: $neon-pink;
    }

    .code-quote {
      color: $buddy-blue;
    }

    .code-colon {
      color: $code;
    }
  }

  &__button-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6rem 1.6rem 0.5rem;
  }

  &__button {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 9999em;

    &--red {
      background-color: #ff6158;
      border: 0.1rem solid #e14038;
    }
    &--yellow {
      background-color: #ffc12f;
      border: 0.1rem solid #e0a53e;
    }
    &--green {
      background-color: #28ca41;
      border: 0.1rem solid #2bac2d;
    }
  }
}

.confetti-button {
  position: relative;
  display: inline-block;
  transform: scale(1);
  width: 5.8rem;
  cursor: pointer;

  &:hover {
    outline: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 180%;
    height: 50%;
    left: -35%;
    top: 26%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    background-repeat: no-repeat;
    animation-timing-function: ease-in-out;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-delay: 4.6s;
  }

  &::before {
    transform: translate3d(0, -50%, 0);
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation-name: topBubbles;
  }

  &::after {
    transform: translate3d(0, 50%, 0);
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%),
      radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    animation-name: bottomBubbles;
  }

  &--reanimate {

    &:after,
    &:before {
      animation-delay: 0s;
      animation-fill-mode: none;
    }
  }
}