// Variables
$brown: Brown-Regular;

@font-face {
  font-family: $brown;
  src: url('/assets/fonts/#{$brown}.woff2') format('woff2'),
      url('/assets/fonts/#{$brown}.woff') format('woff'),
      url('/assets/fonts/#{$brown}.ttf') format('truetype'),
      url('/assets/fonts/#{$brown}.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/#{$brown}.svg##{$brown}') format('svg');
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: #fff; 
  background: $neon-pink;
}