// Colours
$deep-azure: #1d2d5b;
$deadly-nightshade: rgb(1, 1, 31);
$klein-blue: #0012d3;
$klein-blue-accent: #000b80;
$deep-klein: #0038a0;
$neon-pink: #f31982;
$neon-pink-opacity-50: rgba(243, 25, 130, 0.5);
$tangerine-dream: #fe9501;
$acid-yellow: #fd0;
$pastel-pink: #ffadad;
$coral: #fc4d69;
$buddy-blue: #02adfd;
$jean-grey: #696969;
$light-grey: lightgrey;
$bleakBlack: #000;
$bleakWhite: #fff;
$screen: #272820;
$code: #18798a;

// Dimensions
$desktopWidth: 110.4rem;

// Hero
$speech-point-height: 14.6rem;

// Breakpoints
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1023px)";
$desktop: "screen and (min-width: 1024px)";
$print: "-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi";

// %Extends

%panel-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $desktopWidth;
  max-width: 100%;
  margin: auto;
  padding: 8rem 6rem;
}

%focus {
  outline-offset: -0.4rem;
  outline-color: $buddy-blue;
  animation-name: focusFadeOut;
  animation-duration: 0.6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

%underline {
  position: relative;
}

%underline-after {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: $neon-pink;
  opacity: 0.3;
  transform: scaleX(0.8);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

%underline-hover {
  opacity: 1;
  transform: scaleX(1);
}
