.panel-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 110.4rem;
  max-width: 100%;
  margin: auto;
  padding: 8rem 6rem; }

.panel-header h2:focus, .panel-content:focus {
  outline-offset: -0.4rem;
  outline-color: #02adfd;
  animation-name: focusFadeOut;
  animation-duration: 0.6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.code a {
  position: relative; }

.code a::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #f31982;
  opacity: 0.3;
  -ms-transform: scaleX(0.8);
      transform: scaleX(0.8);
  transition-property: opacity, transform;
  transition-duration: 0.3s; }

.code a:hover::after {
  opacity: 1;
  -ms-transform: scaleX(1);
      transform: scaleX(1); }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

html {
  font-size: 10px;
  background-color: #01011f; }
  html.senor-crabson {
    cursor: url("/assets/img/favicon/favicon-32x32.png"), auto; }

body {
  font: 400 16px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #01011f; }

body,
html {
  min-height: 100vh; }

a {
  text-decoration: none;
  font-weight: 800; }

p a:hover,
.mask-filter:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shiny 2s infinite;
  transition: all 0.1s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Brown-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400; }

p {
  font-family: 'Source Code Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400; }

/* width */
::-webkit-scrollbar {
  width: 1rem; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #696969;
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f31982;
  border-radius: 0; }

/* Handle on hover */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Code
   ========================================================================== */
figure,
figcaption,
pre,
code {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: monospace, monospace; }

figure {
  margin: 0;
  background-color: #272820;
  color: #fff;
  padding: 2rem; }

figcaption {
  text-align: center; }

code {
  white-space: pre-wrap; }

@keyframes heroTypeCode {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes shiny {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }

@keyframes focusFadeOut {
  from {
    outline-color: #02adfd; }
  to {
    outline-color: #fff; } }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    opacity: 1; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    opacity: 1; } }

@keyframes neonHighlight {
  0% {
    text-shadow: 0 0 0; }
  50% {
    text-shadow: 0 0 0; }
  75% {
    text-shadow: 0 0 10px rgba(243, 25, 130, 0.5), 0 0 20px rgba(243, 25, 130, 0.5), 0 0 30px rgba(243, 25, 130, 0.5), 0 0 40px rgba(243, 25, 130, 0.5), 0 0 70px rgba(243, 25, 130, 0.5), 0 0 80px rgba(243, 25, 130, 0.5), 0 0 100px rgba(243, 25, 130, 0.5), 0 0 150px rgba(243, 25, 130, 0.5); }
  100% {
    text-shadow: 0 0 0; } }

@keyframes spinning {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  padding-bottom: 2rem;
  overflow: auto; }
  @media screen and (max-width: 767px) {
    .header {
      position: relative;
      padding: 2rem 2rem 0; } }
  .header__logo {
    float: left;
    position: relative;
    left: -6.8rem; }
    @media screen and (max-width: 767px) {
      .header__logo {
        float: none;
        width: 100%;
        text-align: center;
        left: 0;
        padding: 0 15%; } }
  .header__cta {
    position: relative;
    float: right;
    top: 9rem; }
    @media screen and (max-width: 767px) {
      .header__cta {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        display: block;
        width: 100%;
        padding: 2rem;
        z-index: 10;
        float: none;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2); } }
  @media screen and (max-width: 767px) {
    .header__links {
      margin-top: 4rem; } }
  @media screen and (max-width: 767px) {
    .header__individual-link {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid rgba(252, 252, 252, 0.2); }
      .header__individual-link:last-child {
        border-bottom: 0; } }

.lottie-logo {
  width: 35rem;
  max-width: 35rem; }
  @media screen and (max-width: 767px) {
    .lottie-logo {
      width: 100%;
      margin: auto; } }

.nav ul {
  list-style: none; }

.container {
  width: 110.4rem;
  max-width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin: auto; }
  @media screen and (max-width: 767px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem; } }

.panel {
  position: relative;
  min-height: 40rem;
  background-color: #fff; }
  @media screen and (max-width: 767px) {
    .panel {
      min-height: 10rem; } }
  .panel p {
    color: #fff; }
  .panel a {
    color: #0012d3; }
  .panel--tsh {
    /* fallback/image non-cover color */
    background-color: #ffadad;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    /* Safari 5.1+, Chrome 10+ */
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, #ffadad 0%, #fc4d69 100%);
    /* IE10+ */
    /* Standard */
    background: linear-gradient(to right, #ffadad 0%, #fc4d69 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); }
  .panel--two {
    /* fallback/image non-cover color */
    background-color: #f31982;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    /* Safari 5.1+, Chrome 10+ */
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, #f31982 0%, #fe9501 100%);
    /* IE10+ */
    /* Standard */
    background: linear-gradient(to right, #f31982 0%, #fe9501 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); }
  .panel--three {
    /* fallback/image non-cover color */
    background-color: #1d2d5b;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    /* Safari 5.1+, Chrome 10+ */
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, #1d2d5b 0%, #01011f 100%);
    /* IE10+ */
    /* Standard */
    background: linear-gradient(to right, #1d2d5b 0%, #01011f 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); }
  .panel--four {
    /* fallback/image non-cover color */
    background-color: #c11675;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    /* Safari 5.1+, Chrome 10+ */
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, #c11675 0%, #490a33 100%);
    /* IE10+ */
    /* Standard */
    background: linear-gradient(to right, #c11675 0%, #490a33 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); }
  .panel--alternate .panel-content__left {
    -ms-flex-order: 2;
        order: 2; }
  .panel--alternate .panel-content__right {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .panel--alternate .panel-content__right img {
      right: auto;
      left: 0; }
  .panel--small {
    min-height: 10rem;
    text-align: center; }
    .panel--small header {
      width: 100%; }
      .panel--small header a {
        color: #01011f; }
    .panel--small .panel-content {
      padding: 2rem; }
  .panel--past-news {
    background-color: #0038a0;
    text-align: left; }
    .panel--past-news .panel-content {
      padding-left: 6rem;
      padding-right: 6rem; }
    .panel--past-news header > p {
      margin-bottom: 1rem; }
    .panel--past-news header a {
      color: #fff; }
  .panel--content-led {
    min-height: 10rem; }
  .panel--white-bg p {
    color: #000; }
  .panel--white-bg .panel-content__title {
    color: #000; }
  .panel--grey-bg {
    background-color: gainsboro; }
  .panel--colour a {
    color: #fff; }
  .panel--blog {
    /* fallback/image non-cover color */
    background-color: #0012d3;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    /* Safari 5.1+, Chrome 10+ */
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, #0012d3 0%, #02adfd 100%);
    /* IE10+ */
    /* Standard */
    background: linear-gradient(to right, #0012d3 0%, #02adfd 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
    color: #fff; }
    .panel--blog a {
      color: #fff; }

.panel-header {
  margin: auto; }
  .panel-header--center {
    text-align: center; }
  .panel-header--bottom {
    position: absolute;
    bottom: 0;
    width: 110.4rem;
    max-width: 100%;
    left: 0;
    right: 0; }
    @media screen and (max-width: 767px) {
      .panel-header--bottom {
        position: static; } }
  .panel-header h2 {
    margin: 0;
    padding: 4rem 2rem 2rem; }

@media screen and (max-width: 767px) {
  .panel .panel-content {
    padding-left: 5rem;
    padding-right: 5rem; }
    .panel .panel-content.panel-content--loader {
      padding-left: 2rem;
      padding-right: 2rem; } }

.panel-content__left, .panel-content__right {
  width: 50%;
  float: left; }
  @media screen and (max-width: 767px) {
    .panel-content__left, .panel-content__right {
      width: 100%;
      float: none; }
      .panel-content__left img, .panel-content__right img {
        display: none; } }
  @media screen and (max-width: 767px) {
    .panel-content__left--show img, .panel-content__right--show img {
      width: 100%;
      display: block;
      margin-bottom: 2rem; } }

.panel-content__image--caption {
  padding: 2rem;
  background-color: lightgrey; }
  .panel-content__image--caption p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800; }

.panel-content__title {
  margin: 0;
  color: #fff;
  font-size: 3rem; }

.panel-content__subheading {
  margin: 0; }

.panel-content__code {
  font-size: 1.2rem; }

.panel-content__description {
  margin: 6rem 0; }

.panel-content__read-more p {
  margin: 0; }

.panel-content__right {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.code {
  max-width: 100%; }
  .code a {
    color: #f31982; }

.footer {
  display: -ms-flexbox;
  display: flex;
  height: 60rem;
  background-color: #01011f; }
  @media screen and (max-width: 767px) {
    .footer {
      height: auto;
      padding-bottom: 10rem; } }

.panel-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 110.4rem;
  max-width: 100%;
  margin: auto;
  padding: 8rem 6rem; }

.panel-header h2:focus, .panel-content:focus {
  outline-offset: -0.4rem;
  outline-color: #02adfd;
  animation-name: focusFadeOut;
  animation-duration: 0.6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.code a {
  position: relative; }

.code a::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #f31982;
  opacity: 0.3;
  -ms-transform: scaleX(0.8);
      transform: scaleX(0.8);
  transition-property: opacity, transform;
  transition-duration: 0.3s; }

.code a:hover::after {
  opacity: 1;
  -ms-transform: scaleX(1);
      transform: scaleX(1); }

.loader--object {
  width: 20rem;
  height: 20rem;
  border-radius: 99999rem; }

.loader--light-grey {
  background-color: lightgrey; }

.loader--spin {
  animation-name: spinning;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: linear; }

.loader--canvas {
  padding: 5rem; }

@media screen and (max-width: 767px) {
  .loader--object {
    margin: 0 auto 4rem; } }

.panel-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 110.4rem;
  max-width: 100%;
  margin: auto;
  padding: 8rem 6rem; }

.panel-header h2:focus, .panel-content:focus {
  outline-offset: -0.4rem;
  outline-color: #02adfd;
  animation-name: focusFadeOut;
  animation-duration: 0.6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.code a {
  position: relative; }

.code a::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #f31982;
  opacity: 0.3;
  -ms-transform: scaleX(0.8);
      transform: scaleX(0.8);
  transition-property: opacity, transform;
  transition-duration: 0.3s; }

.code a:hover::after {
  opacity: 1;
  -ms-transform: scaleX(1);
      transform: scaleX(1); }

.pln {
  color: #fe9501; }

.str {
  color: #fff; }

.kwd {
  color: #fe9501; }

.com {
  color: #02adfd; }

.typ {
  color: #fff; }

.lit {
  color: #fff; }

.clo,
.opn,
.pun {
  color: #18798a; }

.tag {
  color: #fff; }

.atn {
  color: #fe9501; }

.atv {
  color: #f31982; }

.dec, .var {
  color: #f31982; }

.fun {
  color: #f31982; }

.javascript-title {
  color: #fe9501; }

.btn {
  position: relative;
  display: block;
  padding: 1.3rem 3rem 1.2rem;
  background-color: #000;
  color: #fff;
  z-index: 1; }
  .btn .hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; }
    .btn .hover span {
      position: relative;
      display: block;
      left: -15px;
      height: 10px;
      width: 0;
      background-color: #000;
      content: ''; }
    .btn .hover span:after {
      position: absolute;
      display: block;
      right: -10px;
      width: 10px;
      height: 10px;
      background: #fff;
      content: ''; }
    .btn .hover span:nth-child(odd):after {
      background: rgba(0, 0, 0, 0.35); }
    .btn .hover span:first-child {
      left: -75px;
      transition: all 0.3s steps(8); }
    .btn .hover span:nth-child(2) {
      left: -45px;
      transition: all 0.325s steps(8); }
    .btn .hover span:nth-child(3) {
      left: -55px;
      transition: all 0.35s steps(8); }
    .btn .hover span:nth-child(4) {
      transition: all 0.4s steps(8); }
    .btn .hover span:nth-child(5) {
      left: -25px;
      transition: all 0.375s steps(8); }
  .btn:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    z-index: -2;
    content: ''; }
  .btn:hover {
    color: #fff; }
  .btn:hover, .btn:focus {
    color: #fff; }
    .btn:hover .hover span:first-child, .btn:focus .hover span:first-child {
      width: calc(100% + 76px); }
      .btn:hover .hover span:first-child:after, .btn:focus .hover span:first-child:after {
        animation: whiteBlack 0.3s 0s 1; }
    .btn:hover .hover span:nth-child(2), .btn:focus .hover span:nth-child(2) {
      width: calc(100% + 46px);
      transition: all 0.375s steps(8); }
      .btn:hover .hover span:nth-child(2):after, .btn:focus .hover span:nth-child(2):after {
        animation: whiteBlack 0.3s 0.06s 1 reverse backwards; }
    .btn:hover .hover span:nth-child(3), .btn:focus .hover span:nth-child(3) {
      width: calc(100% + 56px);
      transition: all 0.35s steps(8); }
      .btn:hover .hover span:nth-child(3):after, .btn:focus .hover span:nth-child(3):after {
        animation: whiteBlack 0.3s 0.05s 1 forwards; }
    .btn:hover .hover span:nth-child(4), .btn:focus .hover span:nth-child(4) {
      width: calc(100% + 16px);
      transition: all 0.3s steps(8); }
      .btn:hover .hover span:nth-child(4):after, .btn:focus .hover span:nth-child(4):after {
        animation: whiteBlack 0.3s 0s 1 reverse backwards; }
    .btn:hover .hover span:nth-child(5), .btn:focus .hover span:nth-child(5) {
      width: calc(100% + 26px);
      transition: all 0.325s steps(8); }
      .btn:hover .hover span:nth-child(5):after, .btn:focus .hover span:nth-child(5):after {
        animation: whiteBlack 0.3s 0.07s 1 forwards; }
  .btn--klein {
    background-color: #0012d3;
    border-bottom: 5px solid #000b80; }
    .btn--klein:active {
      border-top: 0.5rem solid #0012d3;
      border-bottom: 0; }
    .btn--klein .hover span {
      background-color: #000b80; }

@font-face {
  font-family: Brown-Regular;
  src: url("/assets/fonts/Brown-Regular.woff2") format("woff2"), url("/assets/fonts/Brown-Regular.woff") format("woff"), url("/assets/fonts/Brown-Regular.ttf") format("truetype"), url("/assets/fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Brown-Regular.svg#Brown-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  color: #fff;
  background: #f31982; }

::selection {
  color: #fff;
  background: #f31982; }

.separator {
  margin: 0 1rem; }
  @media screen and (max-width: 767px) {
    .separator {
      display: none; } }

.hero {
  position: relative;
  height: 40rem; }
  @media screen and (max-width: 767px) {
    .hero {
      height: auto;
      text-align: center; } }
  .hero--homepage {
    background-color: #01011f;
    z-index: 1;
    max-height: 40vh;
    min-height: 20rem; }
    @media screen and (max-width: 767px) {
      .hero--homepage {
        max-height: 100%;
        min-height: 100%;
        padding-bottom: 4rem; } }
    .hero--homepage h1 {
      text-shadow: 0 0 0; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .hero--homepage h1 {
          font-size: 3.4vw; } }
      .hero--homepage h1.neon-highlight {
        animation-name: neonHighlight;
        animation-duration: 6s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: forwards; }
    .hero--homepage * {
      color: #fff; }
    .hero--homepage::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      z-index: -1;
      border-top: calc(14.6rem / 2) solid transparent;
      border-bottom: calc(14.6rem / 2) solid transparent;
      border-left: calc(14.6rem / 2) solid #01011f;
      -ms-transform: translateY(0);
          transform: translateY(0);
      transition: transform 1s cubic-bezier(0, 0.9, 1, 1);
      transition-delay: 0.5s; }
      @media screen and (max-width: 767px) {
        .hero--homepage::after {
          display: none; } }
  .hero--homepage-animation::after {
    -ms-transform: translateY(calc(14.6rem / 2));
        transform: translateY(calc(14.6rem / 2)); }
  @media screen and (max-width: 767px) {
    .hero__introduction h1 {
      font-size: 2rem; } }
  @media screen and (max-width: 767px) {
    .hero__introduction h2 {
      line-height: 1.2rem; } }
  .hero__introduction p {
    max-width: 64rem; }
  .hero--projects, .hero--about {
    height: 20rem;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .hero--projects, .hero--about {
        height: auto; } }
    .hero--projects *, .hero--about * {
      color: #fff; }
  @media screen and (max-width: 767px) {
    .hero__introduction {
      padding: 0 10% 3rem; } }

.hero-code {
  position: absolute;
  top: 20rem;
  right: 0;
  width: 60rem;
  max-width: 100%;
  height: 33rem;
  padding: 3.6rem 1.6rem 1.6rem;
  background-color: #e6e6e6;
  border-radius: 2rem; }
  @media screen and (max-width: 767px) {
    .hero-code {
      display: none; } }
  .hero-code__screen {
    position: relative;
    height: 100%;
    background-color: #272820;
    padding: 2.2rem 2.6rem;
    border-radius: 0.3rem;
    transition: background-color ease 0.2s; }
    .hero-code__screen--glitch {
      mix-blend-mode: hard-light;
      overflow: hidden; }
      .hero-code__screen--glitch::after {
        content: '';
        position: absolute;
        height: 300%;
        width: 300%;
        top: -100%;
        left: -100%;
        /* fallback/image non-cover color */
        background-color: #f31982;
        /* Firefox 3.6+ */
        /* Safari 4+, Chrome 1+ */
        /* Safari 5.1+, Chrome 10+ */
        /* Opera 11.10+ */
        background-image: -o-linear-gradient(left, #f31982 0%, #fe9501 100%);
        /* IE10+ */
        /* Standard */
        background: linear-gradient(to right, #f31982 0%, #fe9501 100%);
        /* IE6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
        opacity: 0.3;
        animation-name: spinning;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: forwards; }
    .hero-code__screen p {
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      color: #18798a;
      line-height: 4.6rem;
      margin: 0; }
    .hero-code__screen--animation p {
      animation-name: heroTypeCode;
      animation-duration: 3s;
      animation-timing-function: steps(60, end);
      animation-delay: 1.6s;
      animation-fill-mode: forwards; }
      .hero-code__screen--animation p.delay--1 {
        animation-delay: 3.6s; }
      .hero-code__screen--animation p.delay--2 {
        animation-delay: 6.6s; }
      .hero-code__screen--animation p.delay--3 {
        animation-delay: 9.6s; }
      .hero-code__screen--animation p.delay--4 {
        animation-delay: 12.6s; }
    .hero-code__screen .code-variable {
      color: #fe9501; }
    .hero-code__screen .code-bracket {
      color: #fff; }
    .hero-code__screen .code-string {
      color: #f31982; }
    .hero-code__screen .code-quote {
      color: #02adfd; }
    .hero-code__screen .code-colon {
      color: #18798a; }
  .hero-code__button-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6rem 1.6rem 0.5rem; }
  .hero-code__button {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 9999em; }
    .hero-code__button--red {
      background-color: #ff6158;
      border: 0.1rem solid #e14038; }
    .hero-code__button--yellow {
      background-color: #ffc12f;
      border: 0.1rem solid #e0a53e; }
    .hero-code__button--green {
      background-color: #28ca41;
      border: 0.1rem solid #2bac2d; }

.confetti-button {
  position: relative;
  display: inline-block;
  -ms-transform: scale(1);
      transform: scale(1);
  width: 5.8rem;
  cursor: pointer; }
  .confetti-button:hover {
    outline: 0; }
  .confetti-button::before, .confetti-button::after {
    content: "";
    position: absolute;
    display: block;
    width: 180%;
    height: 50%;
    left: -35%;
    top: 26%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    background-repeat: no-repeat;
    animation-timing-function: ease-in-out;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-delay: 4.6s; }
  .confetti-button::before {
    transform: translate3d(0, -50%, 0);
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    animation-name: topBubbles; }
  .confetti-button::after {
    transform: translate3d(0, 50%, 0);
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    animation-name: bottomBubbles; }
  .confetti-button--reanimate:after, .confetti-button--reanimate:before {
    animation-delay: 0s;
    animation-fill-mode: none; }

#particles {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60rem; }
  @media screen and (max-width: 767px) {
    #particles {
      height: 40rem; } }

html.bleak {
  background-color: #000; }

.bleak .hero, .bleak
.panel--two, .bleak
.panel--three, .bleak
.panel--blog, .bleak
.panel--four {
  background: #000; }

.bleak .hero::after, .bleak
.panel--two::after, .bleak
.panel--three::after, .bleak
.panel--blog::after, .bleak
.panel--four::after {
  border-left-color: #000; }

.bleak .footer {
  background-color: #fff; }
  .bleak .footer p,
  .bleak .footer a,
  .bleak .footer .panel-content__title {
    color: #000; }
  .bleak .footer.panel.panel--colour a {
    color: #696969; }
  .bleak .footer .particles {
    display: none; }

.bleak .hero--homepage h1.neon-highlight {
  filter: grayscale(1); }

.bleak img {
  filter: saturate(0) grayscale(1) brightness(1) invert(1); }

.bleak .btn {
  background-color: #fff;
  color: #000;
  border-bottom: #fff; }
  .bleak .btn .hover span {
    background-color: #696969; }
  .bleak .btn:active {
    border-top: 0.5rem solid #fff; }

.bleak .hero__introduction a {
  color: #696969; }

.bleak .hero-code {
  background-color: #fff; }

.bleak .hero-code__screen {
  background-color: #000; }
  .bleak .hero-code__screen * {
    color: #fff; }
  .bleak .hero-code__screen a,
  .bleak .hero-code__screen .confetti-button,
  .bleak .hero-code__screen .code-string {
    color: #696969; }

.bleak .panel a {
  color: #000; }

.bleak .panel.panel--colour a {
  color: #fff; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
